<%- include("partials/header.ejs") %>
<!---->
<h3>
    
    <%=locals.postTitle%> <!--This was supposed to take the tile and show it in the h3-->
</h3>
<p>
    <%=locals.postContent%> <!--This was supposed to take the content  and show it in the h3-->
</p>